body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe771;
}

h1 {
    text-align: center;
    margin: 50px 0px;
    background-color: blue;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: auto;
}

.item {
    padding: 50px;
}

.thumbnail {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    transition: transform 0.3s;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    background-color: #cbac89;
    height: 50px;
    width: 100% !important;
    text-align: right;
}

.navbar a {
    margin-right: 10px;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #cbac89;
    padding: 20px;
    color: black;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}