body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
h1 {
    text-align: center;
    margin: 50px 0px;
}
  
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.thumbnail {
    border-radius: 5px;
    width: 300px;
    height: 200px;
    transition: transform 0.3s;
    cursor: pointer;
}
  
.thumbnail:hover {
    transform: scale(1.1);
}